<app-header1></app-header1>
<div class="container">
    <div class="act1">
        <div >
            <div class="card">
               <div class="card-body">
                <img src="" alt="photo1">
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quis dolorem? Harum doloremque rem dolorem rerum facere, porro quidem voluptate nisi ullam beatae, quam quibusdam odit omnis sequi? Sit, fugiat!
                </div>
                <a class="card-link" href="#">Publier</a>
               </div>
            </div>
        </div>
        <div>
            <div class="card">
               <div class="card-body">
                <img src="" alt="photo1">
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quis dolorem? Harum doloremque rem dolorem rerum facere, porro quidem voluptate nisi ullam beatae, quam quibusdam odit omnis sequi? Sit, fugiat!
                </div>
                <a class="card-link" href="#">Publier</a>
               </div>
            </div>
        </div>
    </div>
    <div class="act1">
        <div >
            <div class="card">
               <div class="card-body">
                <img src="" alt="photo1">
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quis dolorem? Harum doloremque rem dolorem rerum facere, porro quidem voluptate nisi ullam beatae, quam quibusdam odit omnis sequi? Sit, fugiat!
                </div>
                <a class="card-link" href="#">Publier</a>
               </div>
            </div>
        </div>
        <div>
            <div class="card">
               <div class="card-body">
                <img src="" alt="photo1">
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quis dolorem? Harum doloremque rem dolorem rerum facere, porro quidem voluptate nisi ullam beatae, quam quibusdam odit omnis sequi? Sit, fugiat!
                </div>
                <a class="card-link" href="#">Publier</a>
               </div>
            </div>
        </div>
    </div>
</div>
