<app-header></app-header>
<div class="container-fluid justify-content-center align-items-center bg-secondaryy  " style="margin:0 0; padding:2% 5%; clip-path: polygon(0 0 ,100% 0,100% 100%,0 100%);">
    <div class="row align-items-center">
      <div class="col " style="background-color: rgba(255, 255, 255, 0.514);">
        <div class="col">
          <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;text-align: center;"><i class="bi bi-star-fill"></i>Notre Mission</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eveniet assumenda, magni mollitia culpa quibusdam dolorum non quo eum, sint repellendus! Earum mollitia debitis nam eius quae ad molestias et!
            </p>
        </div>
      </div>
      <div class="col">
        <img  src="/image1.jpg" alt="Image de couverture" width="100%" style="text-align: center;">
  
      </div>
    </div>
</div>
<div class="container-fluid text-center bg-violet" >
    <div class="content">
    <div class="row" style="background-color: rgb(255, 255, 255);">
      <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;text-align: center;" ><i class="bi bi-star-fill"></i>Explorez Nos Thématique</h3>
      <div class="col align-self-start">
        <ul>
            <li>
            <span>Paix et Diplomatie Environnementale:</span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, enim vitae illum impedit eaque laboriosam unde qui omnis nesciunt odio reiciendis debitis voluptatibus. Quibusdam, ratione. Placeat quis iure deleniti eaque.
            </li>
            <li>
                <span>changement climatique:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit doloremque dolor distinctio aliquam, repellat voluptates sequi illo voluptatem, ab necessitatibus, fuga quam. Perspiciatis porro, tempore enim id sed ad repellat?
            </li>
            <li>
                <span>Gestion des Risques:</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius impedit placeat corrupti quidem quam nihil eaque temporibus quaerat officia eveniet fugiat illum, est qui sunt, voluptate id in praesentium tempora.

            </li>
        </ul>
      </div>
      <div class="col align-self-center">
        <h2>Ressources</h2>
        <p>
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo nesciunt id et veniam maxime cupiditate aperiam corrupti deserunt vero harum tempora facilis, voluptas consequatur perferendis obcaecati corporis provident quas molestiae?
        </p>
      </div>
      <div class="col align-self-end">
        <h2>Dernières nouvelles</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta officia temporibus voluptas sint atque illo corrupti deserunt tempore consequatur porro reiciendis, eos ut cum, sed, dolorum doloribus error officiis harum! </p>
      </div>
    </div>
</div>
  </div>
    <div class="container-fluid text-white bg-autre1">
        <div class="content p-5" style="background-color: rgba(255, 255, 255, 0.274)">
          <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;"><i class="bi bi-star-fill"></i>Rejoignez la Communauté</h3>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consequuntur ut sunt aut consequatur. Laboriosam illo voluptate optio est ex, qui temporibus dolorum expedita perspiciatis commodi eius facilis molestiae ut!
        </p>
        <button type="button" class="btn btn-outline-light" [routerLink]="['/singing']">Inscrivez vous dès maintenant</button>
    </div>
    </div>
    <div class="container-fluid bg-autre p-5 text-white  ">
      <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;"><i class="bi bi-star-fill"></i>Projet et Initiatives</h3>
        <p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestias! Quasi illo aliquam quis eligendi est quod, quo exercitationem vel totam, fuga illum deleniti commodi numquam rem repudiandae autem adipisci.
        </p>
    </div>
    <div class="container-fluid bg-secondary p-5 text-white">
      <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;"><i class="bi bi-star-fill"></i>Contactez-Nous</h3>
        <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit sed voluptatibus, voluptatum dolor architecto doloremque tempore esse expedita excepturi sint debitis? Totam accusantium quaerat, reiciendis eos ea sequi magni. </p>
    </div>
