
<nav class="navbar navbar-expand-lg navbar-light bg-lightt" >
    <div class="container-fluid"  >
      <a class="navbar-brand logo">
      {{title}}  
      Bonjour Admin
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
         <li class="nav-link">

         </li>
        </ul>
      </div>
      <div class="d-flex">
        <button class="btn " style="background-color: red;" type="button" [routerLink]="['/singing']">Déconexion</button>
      </div>
    </div>
  </nav>