<div class="container m-5 text-center align-items-center justify-content-center">
    <div class="row">
        <div class="col-4">
            <h1>Actualités</h1>
        </div>
        <div class="col-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur asperiores doloribus iste at tempora laudantium aspernatur. Fugit, praesentium maxime voluptas pariatur eveniet ducimus a? Illum hic labore a commodi dolore.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid saepe necessitatibus quasi quis provident voluptas exercitationem totam facilis ut numquam, iusto harum vitae, a in obcaecati maiores! Eveniet, ullam eius!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repellendus quam fuga sint totam sunt deserunt iste mollitia placeat, animi unde impedit asperiores! Cum, doloribus. Ut odio sunt facilis placeat.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam officia quia recusandae ipsa dignissimos, dolores consequuntur dolorem quidem laboriosam omnis impedit veritatis nobis expedita ipsam architecto, placeat quas sed molestiae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolor ut voluptatum est error sed hic doloremque reprehenderit corrupti ex distinctio voluptate quibusdam, facere iure, ipsam nihil. Autem, voluptatem et.
                
            </p>
        </div>
    </div>

</div>
