.link {
    margin-left: 5%;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    color:blue;
    padding:2px 5px;
}
.link:hover{
    background-color: rgb(23, 1, 226);
    color:white;
}