* {
    margin:0;
    padding:0;
}

.body {
    justify-content:space-between;
    padding: 75px 0px 0;
    width: 100%;
}
.footer{
    position: relative;
    width: 100%;
}
.containt{
padding-top: 3%;
}
@media screen and (max-width:750px) {
    .containt{
        padding-top: 10%;
        }
}