
<div class="container-fluid bgg containt body">
  <router-outlet></router-outlet>
</div>
<footer class="bg-light text-center text-lg-start mt-5">
  <hr style="border:2px black solid">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Navigation</h5>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/home']" class="text-dark">Accueil</a>
          </li>
          <li>
            <a [routerLink]="['/thematique']" class="text-dark">Thématique</a>
          </li>
          <li>
            <a [routerLink]="['/ressource']" class="text-dark">Ressource</a>
          </li>
          <li>
            <a [routerLink]="['/actualite']" class="text-dark">Actualités</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact</h5>
        <ul class="list-unstyled">
          <li>
            <p class="text-dark"><i class="bi bi-geo-alt"></i>: Lot Va XXXXXXXX</p>
          </li>
          <li>
            <p class="text-dark"><i class="bi bi-telephone"></i>: +261 XX XXX XX</p>
          </li>
          <li>
            <p class="text-dark"><i class="bi bi-envelope-open"></i>: xxxxx&#4;gmail.com</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Suivez-nous</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-dark"><i class="bi bi-facebook">lorem ipsum</i></a>
          </li>
          <li>
            <a href="#" class="text-dark"><i class="bi bi-twitter">lorem ipsum</i></a>
          </li>
          <li>
            <a href="#" class="text-dark"><i class="bi bi-instagram">lorem ipsum</i></a>
          </li>
          <li>
            <a href="#" class="text-dark"><i class="bi bi-linkedin">lorem ipsum</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy; 2024 Copyright:
    <a class="text-dark" href="#">GG4P</a>
  </div>
</footer>
