* {
    margin:0;
    padding:0;
}
.bgg{
    background-color: #075fb1;
    
}
.logo {
    position: relative;
    font-family: "Lucida Handwriting", cursive;
    color:rgb(5, 26, 146);
}
.active{
    text-decoration: underline;
    border-radius: 40px;
    color:rgb(4, 43, 172);
    font-size: 15px;
}
.nav-item{
    display: inline-block;    
    margin-left: 3px;
    margin-right: 50px;
    transition: .3;
    color:rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
    border-radius: 40px;
    background-color:transparent;
    padding:2px 5px;
    text-decoration: none;
}
.nav-link{
    border-radius: 40px;
}
.nav-link:hover{
    background-color: rgb(23, 1, 226);
    border-radius: 40px;
    color:white;
    font-size: 15px;
}
.container {
    justify-content:space-between;
    padding: 75px 0px 0;
    width: 100%;
}
.footer{
    position: relative;
    width: 100%;
    background-color: #f3f704;
    bottom:0;
}