<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/thematique']" routerLinkActive="active">Thématique</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/ressource']" routerLinkActive="active">Ressource</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/actualite']" routerLinkActive="active">Actualités</a>
  </li>
  <form class="d-flex" role="search">
    <button class="btn btn-outline-success" type="submit">Se connecter</button>
    <button class="btn btn-outline-success" type="submit">S'inscrire</button>
  </form>
</ul>


<div class="header">
  <hr>
<div class="conainer">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="contact">
    <a>Adresse</a>
    <a>Téléphone</a>
    <a>Mail</a>
  </div>
  &copy;Faneva_ANDRIANAINA
  <div class="réseau">
    <a>Facebook</a>
    <a>Linkedin</a>
    <a>GitHub</a>
    <a></a>
  </div>
</div>