<app-header1></app-header1>
<div class="container-fluid bg-primary p-5">
    <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maxime voluptatem veritatis eos dicta illo earum repellat nemo nostrum animi eum necessitatibus, ullam expedita aperiam explicabo maiores porro? Sunt, asperiores.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam recusandae, voluptatem sequi, illum explicabo quia adipisci tempore, quam dicta doloribus repellat! Hic, rem dolorum! Fugiat ipsum architecto expedita ullam iste!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, molestias natus nihil perspiciatis maiores consequatur. Recusandae expedita sequi nisi! Nobis in obcaecati cumque iusto ratione, fugit eum modi earum ducimus!
      
    </div>
   </div>