<style>
    .chart{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: conic-gradient(
            blue 0% 40%,
            red 40% 100%
        );
    }
    .lab{
        background-color: rgb(10, 147, 172);
        text-align: center;
        padding:2% 0;
    }
    .pourc{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color:white;
        text-align: center;
    }
</style>
<app-header1></app-header1>
<div class="container p-5">
   <div class="row">
    <div class="col-4" style="align-items: center;justify-content: center;text-align: center;">
        <div class="col-4 lab">
            Utilisateurs
            20%
        </div><br>
        <div class="col-4 lab">
            Visiteurs
            <br>
            60%
        </div><br>
        <div class="chart">
            <div class="pourc">
                <div>40%</div>
                <div>60%</div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="col-4 lab">
           Projet réaliser
        </div><br>
        <div class="col-4 lab">
            Projet en cours
        </div>
    </div>
    <div class="col-4">
        <div class="col-4 lab">
           Webinaire
        </div><br>
    </div>
   </div>
   </div>