
.link {
    margin-left: 5%;
    text-decoration: none;
    text-align: right;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.205);
    color:black;
    font-family: arial black;
    padding:2px 5px;
    font-size: 15px;
}
.link:hover{
    text-decoration: underline;
    color:black;
    font-family: arial black;
}
.nav{
    position: relative;
}
.header-nav{
    position:fixed;
}