<style>
    .cont{
        margin:0 30%;
        background-color: white;
    }
    .cont1{
        background-color: rgba(128, 128, 128, 0.568);
    }
</style>
<app-header1></app-header1>
<div class="container">
    <div class="col">
        <div style="background-color: grey;width: 100%;">
            Gestion de projet
        </div>
    </div>
    <div class="table">
        <table>
            <tr>
                <th class="cont">
                Nom du projet
                </th>
                <th class="cont">
                Thématique
                </th>
                <th class="cont">
                Équipe
                </th>
                <th class="cont">
                Chef
                </th>
                <th class="cont">
                Delais
                </th>
                <th class="cont">
                Status
                </th>
                <th class="cont">
                Degrer
                </th>
                <th class="cont">
                Remarque
                </th>             
            </tr>
            <tr>
                <td class="cont1">
                <div>
                    GPI
                </div>    
                </td>
                <td class="cont1">
                    <div>
                        Paix
                    </div>  
                <td class="cont1">
                    <div>
                        Alex
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        Christophe
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        15-20 Septembre
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        OK
                    </div>  
                </td>
                <td class="cont1">
                    <div style="background-color:black;color:white;border-radius: 40px;">
                        Moyen
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        Projet académique
                    </div>  
                </td>             
            </tr>
            <tr>
                <td class="cont1">
                <div>
                    Portfolio
                </div>    
                </td>
                <td class="cont1">
                    <div>
                        GrC
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        Kevin
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        Christophe
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        20-30 Septembre
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        OK
                    </div>  
                </td>
                <td class="cont1">
                    <div style="background-color:yellow;color:black;border-radius: 40px;">
                        Faible
                    </div>  
                </td>
                <td class="cont1">
                    <div>
                        Projet personnel
                    </div>  
                </td>             
            </tr>
        </table>
    </div>
</div>