<div class="container m-5 text-center align-items-center justify-content-center">
    <div class="row ">
        <div class="col-4">
            <h1>Ressources</h1>
        </div>
        <div class="col-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minus quas nihil quisquam, dicta debitis ab hic distinctio deserunt ratione ut dolor, nulla reprehenderit maiores blanditiis esse dolores perspiciatis labore.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident animi facilis fuga asperiores architecto voluptatibus magnam ad expedita amet. Pariatur, soluta laudantium. Iusto atque recusandae facere ut tempore similique odio?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus ex reprehenderit quae, repellat nisi dolores molestias! Incidunt possimus, facilis eum exercitationem excepturi numquam architecto adipisci dolore corrupti, ullam dolor.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus officia necessitatibus minima nisi. At nostrum fugiat ex soluta. Ut, suscipit? Delectus magnam eos voluptas. Vel eius necessitatibus officiis rerum ratione.
            </p>
        </div>
    </div>
</div>
