<div class="nav">
    <a class="link" [routerLink]="['/paix']">Paix</a>
    <a class="link" [routerLink]="['/change-climate']">Change Climate</a>
    <a class="link" [routerLink]="['/gestion-risque']">Gestion des risques</a>
</div>
<div class="container">
    <h2>Explorez Nos Thématique</h2>
    <ul>
        <li>
        <span>Paix et Diplomatie Environnementale:</span> Découvrez comment les initiatives écologiques peuvent
    contribuer à la paix mondiale et à la résolution des conflits.
        </li>
        <li>
            <span>changement climatique:</span> Accédez à des ressources sur les impacts du changement climatique et les actions 
            pour limiter ses effets.
        </li>
        <li>
            <span>Gestion des Risques:</span> Apprenez des stratégies pour évaluer et gérer les risques environnementaux et sociaux,
            afin de renforcer la résilience des communautés.
        </li>
    </ul>
</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus unde cum voluptas officiis tempore aut, maxime aliquid sapiente accusantium debitis! Tenetur dolores neque architecto aspernatur obcaecati nisi, nam omnis dolor?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quo deserunt impedit, veritatis sint officia! Voluptatum, quae maxime est mollitia pariatur deleniti quaerat veniam id exercitationem atque officia totam.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quas animi pariatur tempora! Ratione consequatur animi quidem magnam praesentium, autem pariatur ipsa eos vitae labore ullam molestiae quia! Atque, voluptatem.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem aliquid vel corrupti delectus minima voluptates! Blanditiis cupiditate alias dolor iste odit, quisquam itaque hic cumque accusantium magnam eaque molestias.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus a, iste at, nam culpa doloremque aut repudiandae atque odit delectus qui. Labore deleniti placeat, saepe sed soluta voluptatem hic unde?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quae sed consectetur nulla cumque? Aperiam quod doloribus nesciunt. Soluta, maiores repellat veritatis mollitia officiis temporibus facilis enim unde sed quia.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos autem, expedita voluptatibus sint incidunt nostrum nihil porro explicabo omnis eius reiciendis modi excepturi doloribus, inventore ex neque libero? Veniam, neque.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae impedit possimus nesciunt excepturi quisquam? Ipsa dolor explicabo rerum iste. Iusto perspiciatis illum harum provident at omnis totam nam enim aliquam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veniam libero aliquam cum consequatur culpa, est aspernatur temporibus saepe nulla explicabo ullam, asperiores quaerat minus reprehenderit consequuntur quod. Odit, cumque.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, blanditiis soluta tenetur non minima impedit voluptas iure eos nihil corrupti et itaque necessitatibus! Magnam, delectus sed officia quasi dicta nostrum!

Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus unde cum voluptas officiis tempore aut, maxime aliquid sapiente accusantium debitis! Tenetur dolores neque architecto aspernatur obcaecati nisi, nam omnis dolor?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quo deserunt impedit, veritatis sint officia! Voluptatum, quae maxime est mollitia pariatur deleniti quaerat veniam id exercitationem atque officia totam.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque quas animi pariatur tempora! Ratione consequatur animi quidem magnam praesentium, autem pariatur ipsa eos vitae labore ullam molestiae quia! Atque, voluptatem.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit exercitationem aliquid vel corrupti delectus minima voluptates! Blanditiis cupiditate alias dolor iste odit, quisquam itaque hic cumque accusantium magnam eaque molestias.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus a, iste at, nam culpa doloremque aut repudiandae atque odit delectus qui. Labore deleniti placeat, saepe sed soluta voluptatem hic unde?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quae sed consectetur nulla cumque? Aperiam quod doloribus nesciunt. Soluta, maiores repellat veritatis mollitia officiis temporibus facilis enim unde sed quia.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos autem, expedita voluptatibus sint incidunt nostrum nihil porro explicabo omnis eius reiciendis modi excepturi doloribus, inventore ex neque libero? Veniam, neque.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae impedit possimus nesciunt excepturi quisquam? Ipsa dolor explicabo rerum iste. Iusto perspiciatis illum harum provident at omnis totam nam enim aliquam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veniam libero aliquam cum consequatur culpa, est aspernatur temporibus saepe nulla explicabo ullam, asperiores quaerat minus reprehenderit consequuntur quod. Odit, cumque.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, blanditiis soluta tenetur non minima impedit voluptas iure eos nihil corrupti et itaque necessitatibus! Magnam, delectus sed officia quasi dicta nostrum!

