<div class="container-fluid justify-content-center align-items-center bg-secondaryy " style="margin:0 0; padding:2% 5%; clip-path: polygon(0 0 ,100% 0,100% 100%,0 100%);">
    <div class="row align-items-center">
      <div class="col " style="background-color: rgba(255, 255, 255, 0.514);">
        <div class="col">
          <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;text-align: center;"><i class="bi bi-star-fill"></i>Notre Mission</h3>
            <p>GreenGuard4Peace est une plateforme dédiée à l'intersection de la paix, du changement climatique, et de la gestion 
                des risques. Nous visons à promouvoir des solutions durables et pacifiques pour construire un avenir plus résilient
                et harmonieux.
            </p>
        </div>
      </div>
      <div class="col">
        <img  src="/image1.jpg" alt="Image de couverture" width="100%" style="text-align: center;">
  
      </div>

    </div>
</div>
<div class="container-fluid text-center bg-violet" >
    <div class="content">
    <div class="row" style="background-color: rgba(255, 255, 255, 0.308);">
      <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;text-align: center;" ><i class="bi bi-star-fill"></i>Explorez Nos Thématique</h3>
      <div class="col align-self-start">
        <ul>
            <li>
            <span>Paix et Diplomatie Environnementale:</span> Découvrez comment les initiatives écologiques peuvent
        contribuer à la paix mondiale et à la résolution des conflits.
            </li>
            <li>
                <span>changement climatique:</span> Accédez à des ressources sur les impacts du changement climatique et les actions 
                pour limiter ses effets.
            </li>
            <li>
                <span>Gestion des Risques:</span> Apprenez des stratégies pour évaluer et gérer les risques environnementaux et sociaux,
                afin de renforcer la résilience des communautés.
            </li>
        </ul>
      </div>
      <div class="col align-self-center">
        <h2>Ressources</h2>
        <p>
            Accédez à une bibliothèques de documents, études de cas, et guides pratiques pour approfondir vos 
            connaissances et soutenir vos actions.
        </p>
      </div>
      <div class="col align-self-end">
        <h2>Dernières nouvelles</h2>
        <p>
            Restez informé des dernières actualités et développements dans les domaines de la paix, du climat, et de la gestion des risques.
        </p>
      </div>
    </div>
</div>
  </div>
    <div class="container-fluid text-white bg-autre1">
        <div class="content p-5" style="background-color: rgba(255, 255, 255, 0.274)">
          <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;"><i class="bi bi-star-fill"></i>Rejoignez la Communauté</h3>
        <p>
            Participez à nos forums de discussion, assistez à nos webinaires, et connectez-vous avec des experts et des 
            militants qui partagent vos préoccupations.
        </p>
        <button type="button" class="btn btn-outline-light" [routerLink]="['/singing']">Inscrivez vous dès maintenant</button>
    </div>
    </div>
    <div class="container-fluid bg-autre p-5 text-white  ">
      <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;" class="text-primary"><i class="bi bi-star-fill"></i>Projet et Initiatives</h3>
        <p>
            Découvrez nos projets en cours, nos collaborations internationales, et comment vous pouvez vous engager dans des 
            actions concrètes pour la paix et la durabilité.
        </p>
    </div>
    <div class="container-fluid bg-secondary p-5 text-white">
      <h3 style="font-family: arial black;padding-top: 5%;text-decoration: underline;" class="text-primary"><i class="bi bi-star-fill"></i>Contactez-Nous</h3>
        <p>
            Pour toute question ou collaboration, n'hésitez pas à nous contacter. Nous sommes ici pour vous aider et échanger des idées.
        </p>
    </div>
