h2{
    text-align: center;
    color:#fff;
    text-decoration: underline;
}
p {
    text-align: center;
    padding: 50px 50px;
}
ul {
    text-align: left;
    padding: 50px 50px;
}
span {
    text-decoration: underline;
}
.bg-secondaryy{
  background-color: rgba(0, 0, 0, 0.582);
}
  @media screen and (max-width:500px){

  }
  /* Optionnel : Centrer le contenu */
  .oblique-section .content {
    text-align: center;
  }
  .bg-violet{
    background-color:rgba(158, 7, 228,0.8);
  }
  .bg-autre{
    background-color: rgba(158, 7, 228,0.8);
  }
  .bg-autre1{
    background-color: rgba(7, 95, 228, 0.8);
  }
  
